In [18]:

#Step 1: Create Tuple for each student (immutable personal info)

student_1=(1001,"mani",16,"IT")
student_2=(1002,"mona",18,"IT")
student_3=(1003,"nani",17,"IT")
student_4=(1004,"kala",18,"IT")

student_5=(2001,"Dee",16,"Maths")
student_6=(2002,"Dev",18,"Maths")
student_7=(2003,"Divi",17,"Maths")
student_8=(2004,"Diya",18,"Maths")
batch_1=(student_1,student_2,student_3,student_4)
batch_1
batch_2=(student_5,student_6,student_7,student_8)
batch_2

((2001, 'Dee', 16, 'Maths'),
 (2002, 'Dev', 18, 'Maths'),
 (2003, 'Divi', 17, 'Maths'),
 (2004, 'Diya', 18, 'Maths'))

In [ ]:
# Step 2: Create 1D List for marks of each student

marks1=[88,99,100,87]
marks2=[82,19,87,95]
marks3=[80,99,100,77]
marks4=[85,99,85,89]
marks5=[84,99,96,87]
marks6=[81,19,87,95]
marks7=[85,100,100,88]
marks8=[86,99,88,89]

[[84, 99, 96, 87], [81, 19, 87, 95], [85, 100, 100, 88], [86, 99, 88, 89]]

In [43]:
# Step 3: Combine all marks into a 2D List
batch1_IT=[marks1,marks2,marks3,marks4]
batch1_IT

batch2_maths=[marks5,marks6,marks7,marks8]
batch2_maths

[[84, 99, 96, 87], [81, 19, 87, 95], [85, 100, 100, 88], [86, 99, 88, 89]]

In [38]:
# Step 4: Combine all batches (3D List - two different batches)
All_batches=[batch1_IT,batch2_maths]
All_batches

[[[88, 99, 100, 87], [82, 19, 87, 95], [80, 99, 100, 77], [85, 99, 85, 89]],
 [[84, 99, 96, 87], [81, 19, 87, 95], [85, 100, 100, 88], [86, 99, 88, 89]]]

In [37]:
# Step 5: Display formatted data

print("---------------Student Information and marks-------------------- \n")
print("First batch Student's details:")
print("----------------------------------------------------------------")
print("St_ID   Name   Age  Dept     Marks")
print("----------------------------------------------------------------")
print(student_1, marks1)
print(student_2, marks2)
print(student_3, marks3)
print(student_4, marks4)
print("----------------------------------------------------------------")
print("Second batch Student's details:")
print("----------------------------------------------------------------")
print("St_ID   Name   Age  Dept     Marks")
print("----------------------------------------------------------------")
print(student_5, marks5)
print(student_6, marks6)
print(student_7, marks7)
print(student_8, marks8)
print("...............................................................")

---------------Student Information and marks--------------------

First batch Student's details:
----------------------------------------------------------------
St_ID   Name   Age  Dept     Marks
----------------------------------------------------------------
(1001, 'mani', 16, 'IT') [88, 99, 100, 87]
(1002, 'mona', 18, 'IT') [82, 19, 87, 95]
(1003, 'nani', 17, 'IT') [80, 99, 100, 77]
(1004, 'kala', 18, 'IT') [85, 99, 85, 89]
----------------------------------------------------------------
Second batch Student's details:
----------------------------------------------------------------
St_ID   Name   Age  Dept     Marks
----------------------------------------------------------------
(2001, 'Dee', 16, 'Maths') [84, 99, 96, 87]
(2002, 'Dev', 18, 'Maths') [81, 19, 87, 95]
(2003, 'Divi', 17, 'Maths') [85, 100, 100, 88]
(2004, 'Diya', 18, 'Maths') [86, 99, 88, 89]
...............................................................